body
{
    text-align: center;
}

#myCarousel
{
  background-color: black;
    width: 800;
}
#myCarousel img
{
    height: 300px;
    width: 800px;
}
p
{
 font-size: 30px;
   color: azure;
    margin-top: 20px;
    margin-bottom: 20px;
}
.image-section {
    display: flex;
    justify-content: center;
}
.pic
{
    height: 200px;
    width: 200px;
}